{% extends "base.html" %}
{% block content %}
<div class="posts">
        <section class="post">
        <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">{{ article.category.name}}</a>
                    </li>
        </ul>
            <header class="post-header">
                
                <h2 class="post-title"><a href="/">{{ article.title }}</a></h2>

                    <p class="post-meta">
                    
                        Time:  <a class="post-author" href="#">{{ article.created_time }}</a> <a class="post-category post-category-js" href="#">{{ article.category }}</a>
                    
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ article.body }}
                    </p>
                </div>
                <a class="pure-button" href="/">Read More >>> </a>
        </section>

</div><!-- /.blog-post -->
{% endblock %}
